body *{
    margin: 0px;
    border: 0px;
    padding: 0px;
}

body{
    font-family: 'Open Sans', sans-serif;
    
}

.navbar-brand img{
    width: 5%;
    vertical-align: middle;
}

.navbar-brand p{
    font-weight: 600;
}