body *{
    margin: 0px;
    border: 0px;
    padding: 0px;
}

body{
    font-family: 'Open Sans', sans-serif;
    background-color: black;
}

.navbar-brand img{
    width: 5%;
    
}

.navbar-brand p{
    font-weight: 600;
}

i{
    font-size: 30px;;
}

.card{
    border: 0px;
    background-color: unset;
}

.card-body{
    padding-top: 0px;
    padding-bottom: 0px;
}

h5{
    font-size: 18px;
}

.destacado {
    font-size: 15px;
}